* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Player */
.spotify-player {
    width: 360px;
    background: #181818;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.8);
}

/* Album */
.album {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(30,215,96,0.4);
}

.album img {
    width: 100%;
    display: block;
}

/* Song Info */
.song-info {
    margin: 15px 0;
}

.song-info h3 {
    font-size: 18px;
}

.song-info p {
    font-size: 14px;
    color: #b3b3b3;
}

/* Time & Progress */
.time {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    color: #b3b3b3;
}

.progress {
    flex: 1;
    height: 4px;
    background: #404040;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: #1db954;
}

/* Controls */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
}

.icon {
    font-size: 20px;
    color: #b3b3b3;
    cursor: pointer;
    transition: 0.3s;
}

.icon:hover {
    color: #fff;
}

/* Play Button */
#play {
    display: none;
}

/* Play Button Base */
.play-btn {
    width: 55px;
    height: 55px;
    background: #1db954;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.play-btn:hover {
    transform: scale(1.1);
}

/* PLAY icon */
.play-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #000;
}

/* PAUSE icon – left bar */
#play:checked + .play-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 18px;
    background: #000;
    border: none;
}

/* PAUSE icon – right bar */
#play:checked + .play-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(4px, -50%);
    width: 6px;
    height: 18px;
    background: #000;
}



/* Volume */
.volume {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #b3b3b3;
}

.vol-bar {
    flex: 1;
    height: 4px;
    background: #404040;
    border-radius: 5px;
    overflow: hidden;
}

.vol-fill {
    width: 60%;
    height: 100%;
    background: #1db954;
}

/* Animations when playing */
#play:checked ~ .time .progress .progress-bar {
    animation: playProgress 15s linear infinite;
}

@keyframes playProgress {
    from { width: 0%; }
    to { width: 100%; }
}
